###################################
#	Electronics Compartment Fan Control
###################################

[controller_fan Electronics_Fan]
# Controller fan - CNC_FAN4 (PA4)
pin: PA4
max_power: 1.0
off_below: 0.25
kick_start_time: 1.0
fan_speed: 0.8
shutdown_speed: 1.0
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z
idle_timeout: 120

# [fan]
# pin: PF7
# Commented out per user request; part cooling fan is on toolhead EBB board (EBBCan:gpio13)

###################################
#	Exhaust Fan Control
###################################

# Fans managed in nevermore.cfg

###################################
#	Bed Heater
###################################

[heater_bed]
heater_pin: PA1
sensor_pin: PB0 # THB (Bed Thermistor)
sensor_type: Generic 3950
pullup_resistor: 2200
min_temp: 0
max_temp: 130