###################################
#	Electronics Compartment Fan Control
###################################

[controller_fan Electronics_Fan]
# Controller fan - CNC_FAN4 (PA4)
pin: PA4
max_power: 1.0
off_below: 0.25
kick_start_time: 1.0
fan_speed: 0.8
shutdown_speed: 1.0
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z
idle_timeout: 120

###################################
#	Underbed Fan Control (Bed Fans)
###################################

# FAN0 (PF7): Bed Fan Right
# FAN1 (PF9): Bed Fan Left
# FAN2 (PF6): Bed Fan Center/Left
[multi_pin bed_fan_pins]
pins: PF7, PF9, PF6

[fan_generic BedFans]
pin: multi_pin:bed_fan_pins
kick_start_time: 0.5

###################################
#	Nevermore Air Filter Fan
###################################

# FAN3 (PF8): Nevermore Filter Fan
[fan_generic Nevermore]
pin: PF8
kick_start_time: 0.5

###################################
#	Bed Heater
###################################

[heater_bed]
heater_pin: PA1
sensor_pin: PB0 # THB (Bed Thermistor)
sensor_type: Generic 3950
pullup_resistor: 2200
min_temp: 0
max_temp: 130