#####################################################################
#   Sensorless Homing Override & Macros (Voron 2.4 350mm)
#####################################################################

[gcode_macro _HOME_X]
gcode:
    # Always use lower current for homing to protect gantry
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28.1 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait for StallGuard registers to clear
    G4 P2000
    # Set current back to normal
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90

[gcode_macro _HOME_Y]
gcode:
    # Always use lower current for homing to protect gantry
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
    G28.1 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait for StallGuard registers to clear
    G4 P2000
    # Set current back to normal
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90

[homing_override]
axes: xyz
set_position_z: 0
gcode:
   G90
   G0 Z10 F600
   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

   {% if home_all or 'X' in params %}
     _HOME_X
   {% endif %}
   
   {% if home_all or 'Y' in params %}
     _HOME_Y
   {% endif %}
   
   {% if home_all or 'Z' in params %}
     {% if 'x' not in printer.toolhead.homed_axes %}
       _HOME_X
     {% endif %}
     {% if 'y' not in printer.toolhead.homed_axes %}
       _HOME_Y
     {% endif %}
     G90
     G1 X175 Y175 F15000
     G28.1 Z
     G1 Z10 F1800
   {% endif %}
