###################################
#	X/Y Stepper Settings
###################################

# X Stepper on Motor1 (B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

# Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

###################################
#	Z Stepper Settings (Quad Gantry Leveling)
###################################

# Z0 Stepper - Front Left on Motor3
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
position_max: 340
position_min: -5.0
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

# Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

# Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16

# Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
