[include mainsail.cfg]
[include KNOMI.cfg]
[include klipper_backup.cfg]
[include macros.cfg]
[include nevermore.cfg]
[include lights.cfg]
[include canbus-rp2040.cfg]
[include TMC2209.cfg]
[include fans.cfg]
[include motors.cfg]
[include tap.cfg]
#[include klipper_macros.cfg]
[skew_correction]

[save_variables]
filename: ~/printer_data/config/variables.cfg

[mcu]
canbus_uuid: 79a09a212663
#restart_method: command

# M8P temperature
[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# CB1 Temp
[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000               # Tuned for 3hump_ei input shaper; re-verify with TEST_RESONANCES
max_z_velocity: 30
max_z_accel: 350
minimum_cruise_ratio: 0.5
square_corner_velocity: 5.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#####################################################################
# 	MISC
#####################################################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

[force_move]
enable_force_move: True



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 47.218
#*# pid_ki = 1.739
#*# pid_kd = 320.490
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.681
#*# pid_ki = 3.880
#*# pid_kd = 56.764
#*#
#*# [probe]
#*# z_offset = -0.896
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.020985, 0.004735, 0.028485, 0.035985, -0.021515
#*# 	0.014735, 0.005985, 0.023485, 0.033485, -0.012765
#*# 	0.020985, 0.003485, 0.025985, 0.028485, -0.016515
#*# 	0.024735, 0.004735, 0.014735, 0.035985, 0.012235
#*# 	-0.037765, -0.045265, -0.024015, -0.020265, -0.000265
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 340.0
#*# min_y = 10.0
#*# max_y = 340.0
